@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body {
  background-image: url("/assets/img/atomaLogo.png"); /* The image used */
  background-color: white; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 500px 300px; /* Resize the background image to cover the entire container */
}

a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 30px;
}

.card {
  border: outset;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
}

.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background-color: rgba(89, 206, 181, .85);
  border-radius: 50%;
  color: rgb(206, 32, 32);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 12px;
}

a {
  color: #707070;
}
i {
color: white;
}

a {
color: white;
}